<html>
<head>
<title>Search similar address</title>
<style>
	body, td, th, div, p, h3 { font-size:12px; margin:0; padding:0; }
	td, th { border-collapse:collapse; border-left:1px solid #888; border-top: 1px solid #888; padding:2px 4px 2px 4px; }
	table { border-collapse:collapse; border-right:1px solid #888; border-bottom: 1px solid #888; }
	.left10 { margin-left:10px; }
	.top5 { margin-top:5px; }
	.top20 { margin-top:20px; }
	h3 { font-size:14px; font-weight:600; }
</style>
</head>
<body style="padding:10px;">

<div>
	<h3>与【$!{inputAddress.rawText}】相似的地址</h3>
	<table>
		<tr style='text-align:center'>
			<th>相似度</th>
			<th>地址ID</th>
			<th>详细地址</th>
		</tr>
		#foreach($vo in ${similarVOs})
		<tr>
			<td>$!{vo.similarity}</td>
			<td>$!{vo.address.id}</td>
			<td>$!{vo.address.rawText}</td>
		</tr>
		#end
	</table>
	<span>用时：$!{elapsedTime}毫秒</span>
</div>

<div class="top20">
	<h3>地址解析情况</h3>
	<span>$!{inputAddress.rawText}</span><span class="left10">&gt;&gt;</span>
	<span class="left10">[省市区:$!{inputAddress.province.name} $!{inputAddress.city.name} $!{inputAddress.county.name}]</span>
	#if($utils.notEmpty($inputAddress.towns))<span class="left10">[街道/乡镇:#foreach($town in ${inputAddress.towns})$!{town} #end]</span>#end
	#if($utils.notEmpty($inputAddress.village))<span class="left10">[村庄:$!{inputAddress.village}]</span>#end
	#if($utils.notEmpty($inputAddress.road))<span class="left10">[道路:$!{inputAddress.road}]</span>#end
	#if($utils.notEmpty($inputAddress.roadNum))<span class="left10">门牌号[$!{inputAddress.roadNum}]</span>#end
	#if($utils.notEmpty($inputAddress.text))<span class="left10">[其它:$!{inputAddress.text}]</span>#end
	#if($utils.notEmpty($inputAddress.buildingNum))<span class="left10">[楼号/房间号:$!{inputAddress.buildingNum}]</span>#end
	<table class="top5">
		<tr><td>词语</td>#foreach($term in ${inputDocument.terms})<td>$!{term.text}</td>#end</tr>
		<tr><td>特征值</td>#foreach($term in ${inputDocument.terms})<td>$utils.round($term.eigenvalue, 4)</td>#end</tr>
	</table>
</div>

<div class="top20">
	<h3>相似地址分词详情</h3>
	#foreach($vo in ${similarVOs})
	<span>$!{vo.address.rawText}</span>
	<table class="top5">
		<tr><td>词语</td>#foreach($term in ${vo.document.terms})<td>$!{term.text}</td>#end</tr>
		<tr><td>特征值</td>#foreach($term in ${vo.document.terms})<td>$utils.round($term.eigenvalue, 4)</td>#end</tr>
	</table>
	#end
</div>
</body>
</html>