<html>
<head>
<title>Search similar address</title>
<style>
	body, td, th, div, p, h3 { font-size:12px; margin:0; padding:0; }
	td, th { border-collapse:collapse; border-left:1px solid #bbb; border-top: 1px solid #bbb; padding:1px 4px 1px 4px; }
	table { border-collapse:collapse; border-right:1px solid #bbb; border-bottom: 1px solid #bbb; }
	.left10 { margin-left:10px; }
	.top5 { margin-top:5px; }
	.top20 { margin-top:20px; }
	.bot10 { margin-bottom:10px; }
	.em1 { color:red; } 
	.em2, td.hit { color:orange; }
	.c { text-align:center; }
	table.c td, table.c th { text-align:center; }
	tr.c td, tr.c th { text-align:center; }
	h3 { font-size:14px; font-weight:600; color:blue; }
</style>
</head>
<body style="padding:5px 20px 0 20px;">

<div>
	<h3>Most similar documents for: [$!{r.queryAddr.rawText}]</h3>
	<table>
		<tr class=c>
			<th>Similarity</th>
			<th>Addr ID</th>
			<th>Addr Text</th>
		</tr>
		#foreach($vo in ${r.similarDocs})
		<tr>
			<td>$utils.round($vo.similarity, 4)</td>
			<td>$!{vo.addr.id}</td>
			<td>$!{vo.addr.rawText}</td>
		</tr>
		#end
	</table>
	<span class="em1">$!{totalDocCount}</span>
	<span> history addresses under: [$!{r.queryAddr.province.name} $!{r.queryAddr.city.name} $!{r.queryAddr.county.name}]</span>
	<span class="left10">Elapsed time:</span><span class="em1">$!{elapsedTime}ms.</span>
</div>

<div class="top20">
	<h3>Explain for query document:</h3>
	<span>[$!{r.queryAddr.rawText}</span>
	<span class=left10>&gt;&gt;</span>
	<span class=left10>[</span><span class="em1">$!{r.queryAddr.province.name} $!{r.queryAddr.city.name} $!{r.queryAddr.county.name}</span>]
	#if($utils.notEmpty($r.queryAddr.towns))<span class="left10">[</span><span class="em1">#foreach($town in ${r.queryAddr.towns})$!{town} #end</span>]#end
	#if($utils.notEmpty($r.queryAddr.village))<span class="left10">[</span><span class="em1">$!{r.queryAddr.village}</span>]#end
	#if($utils.notEmpty($r.queryAddr.road))<span class="left10">[</span><span class="em1">$!{r.queryAddr.road}</span>]#end
	#if($utils.notEmpty($r.queryAddr.roadNum))<span class="left10">[</span><span class="em1">$!{r.queryAddr.roadNum}</span>]#end
	#if($utils.notEmpty($r.queryAddr.text))<span class="left10">[</span><span class="em1">$!{r.queryAddr.text}</span>]#end
	#if($utils.notEmpty($r.queryAddr.buildingNum))<span class="left10">[</span><span class="em1">$!{r.queryAddr.buildingNum}</span>]#end
	<table class="top5 c">
		<tr><th>Term</th>#foreach($t in ${r.queryDoc.terms})<td class="em1 c">$!{t.text}</td>#end</tr>
		<tr><th>Type</th>#foreach($t in ${r.queryDoc.terms})<td class=c>$!{t.type}</td>#end</tr>
	</table>
</div>

<div class="top20">
	<h3>Explain for similar documents:</h3>
	#foreach($vo in ${r.similarDocs})
	<span>$!{vo.addr.id}: $!{vo.addr.rawText}</span>
	<span class="left10 em1">Similarity=$utils.round($vo.similarity, 4)</span>,
	<span class="left10 em2">TF = $utils.round($vo.docExplain.tf, 4)</span>
	<table class="bot10 c">
		<tr><th>Term</th>#foreach($exp in ${vo.docExplain.termsExplain})<td class='$utils.hitClass($exp)'>$!{exp.term.text}</td>#end</tr>
		<tr><th>Type</th>#foreach($exp in ${vo.docExplain.termsExplain})<td class='$utils.hitClass($exp)'>$!{exp.term.type}</td>#end</tr>
		<tr><th>IDF</th>#foreach($exp in ${vo.docExplain.termsExplain})<td class='$utils.hitClass($exp)'>$utils.round($exp.idf, 4)</td>#end</tr>
		<tr><th>Rate</th>#foreach($exp in ${vo.docExplain.termsExplain})<td class='$utils.hitClass($exp)'>$utils.round($exp.rate, 4)</td>#end</tr>
		<tr><th>Density</th>#foreach($exp in ${vo.docExplain.termsExplain})<td class='$utils.hitClass($exp)'>$utils.round($exp.density, 4)</td>#end</tr>
		<tr><th>Boost</th>#foreach($exp in ${vo.docExplain.termsExplain})<td class='$utils.hitClass($exp)'>$utils.round($exp.boost, 4)</td>#end</tr>
		<tr><th>TF-IDF</th>#foreach($exp in ${vo.docExplain.termsExplain})<td class='$utils.hitClass($exp)'>$utils.round($exp.tfidf, 4)</td>#end</tr>
	</table>
	#end
</div>
</body>
</html>