<html>
<head>
<title>Search similar address</title>
<style> body, pre { font-size:12px; } </style>
</head>
<body style="padding:10px;">
#if(${rex}) <span>$!{rex.message}</span> #end
#if(${ex})
<pre>$utils.stackTrace($ex)</pre>
#end
</body>
</html>