<html>
<head>
<title>Search similar address</title>
<style>
	body, td, th, div, p, h3 { font-size:12px; margin:0; padding:0; }
	td, th { border-collapse:collapse; border-left:1px solid #bbb; border-top: 1px solid #bbb; padding:1px 4px 1px 4px; }
	table { border-collapse:collapse; border-right:1px solid #bbb; border-bottom: 1px solid #bbb; }
	.left10 { margin-left:10px; }
	.top5 { margin-top:5px; }
	.top20 { margin-top:20px; }
	.bot10 { margin-bottom:10px; }
	.em1 { color:red; } 
	.em2, td.hit-term { color:orange; }
	tr.hit-doc td { color:orange; font-weight:600; }
	tr.non-hit td { color:#bbb; }
	td.non-hit { color:#bbb; }
	.c { text-align:center; }
	table.c td, table.c th { text-align:center; }
	tr.c td, tr.c th { text-align:center; }
	h3 { font-size:14px; font-weight:600; color:blue; }
</style>
</head>
<body style="padding:10px 0 0 10px;">

<!--div style="padding:10px 10px 0 10px;width:620px;border:solid 1px #aaa;"-->
<div>
	<h3>[$!{r.queryAddr.rawText}] 相似地址：</h3>
	<table>
		<tr class=c>
			<th>相似度</th>
			<th>详细地址</th>
			<th>订单号</th>
			<th>网格</th>
			<th>地址ID</th>
		</tr>
		#foreach($vo in ${r.similarDocs})
		<tr class=$!{utils.hitClass($vo, $velocityCount)}>
			<td>$utils.round($vo.similarity, 4)</td>
			<td>$!{vo.addr.rawText}</td>
			<td>$!{vo.addr.prop1}</td>
			<td>$!{vo.addr.prop2}</td>
			<td>$!{vo.addr.id}</td>
		</tr>
		#end
	</table>
	<span>[$!{r.queryAddr.province.name} $!{r.queryAddr.city.name} $!{r.queryAddr.county.name}]: 共 </span>
	<span class=em1>$!{docsNum}</span><span> 条历史地址.</span>
	<span class="left10">匹配耗时: </span><span class=em1>$!{elapsedTime}</span><span> 毫秒.</span>
</div>

<div class="top20">
	<h3>输入地址解析情况:</h3>
	<span>[$!{r.queryAddr.rawText}</span>]
	<span class=left10>&gt;&gt;</span>
	<span class=left10>[</span><span class="em1">$!{r.queryAddr.province.name} $!{r.queryAddr.city.name} $!{r.queryAddr.county.name}</span>]
	#if($utils.notEmpty($r.queryAddr.towns))<span class="left10">[</span><span class="em1">#foreach($town in ${r.queryAddr.towns})$!{town} #end</span>]#end
	#if($utils.notEmpty($r.queryAddr.village))<span class="left10">[</span><span class="em1">$!{r.queryAddr.village}</span>]#end
	#if($utils.notEmpty($r.queryAddr.road))<span class="left10">[</span><span class="em1">$!{r.queryAddr.road}</span>]#end
	#if($utils.notEmpty($r.queryAddr.roadNum))<span class="left10">[</span><span class="em1">$!{r.queryAddr.roadNum}</span>]#end
	#if($utils.notEmpty($r.queryAddr.text))<span class="left10">[</span><span class="em1">$!{r.queryAddr.text}</span>]#end
	#if($utils.notEmpty($r.queryAddr.buildingNum))<span class="left10">[</span><span class="em1">$!{r.queryAddr.buildingNum}</span>]#end
	<table class="top5 c">
		<tr><th>Term</th>#foreach($t in ${r.queryDoc.terms})<td class="em1 c">$!{t.text}</td>#end</tr>
		<tr><th>Type</th>#foreach($t in ${r.queryDoc.terms})<td class=c>$!{t.type}</td>#end</tr>
		<tr><th>IDF</th>#foreach($t in ${r.queryDoc.terms})<td>$utils.round($t.idf, 4)</td>#end</tr>
	</table>
</div>

<div class="top20">
	<h3>相似地址解析情况:</h3>
#foreach($d in ${r.similarDocs})
	<span>$!{d.addr.id}: $!{d.addr.rawText}</span>
	<span class="left10 em1">Similarity=$utils.round($d.similarity, 4)</span>
	<table class="bot10 c">
		<tr><th>Term</th>
			<td class=em2>$!{d.addr.county.name}</td>
			#foreach($t in ${d.document.terms})<td class='$!{utils.hitClass($d, $t)}'>$!{t.text}</td>#end
			#if($utils.notEmpty($d.addr.buildingNum))<td class=non-hit>$!{d.addr.buildingNum}</td>#end
		</tr>
		<tr><th>Type</th>
			<td class=em2>County</td>
			#foreach($t in ${d.document.terms})<td class='$!{utils.hitClass($d, $t)}'>$!{t.type}</td>#end
			#if($utils.notEmpty($d.addr.buildingNum))<td class=non-hit>BuildingNum</td>#end
		</tr>
		<tr><th>IDF</th>
			<td class=em2>0</td>
			#foreach($t in ${d.document.terms})<td class='$!{utils.hitClass($d, $t)}'>$utils.round($t.idf, 4)</td>#end
			#if($utils.notEmpty($d.addr.buildingNum))<td></td>#end
		</tr>
		<tr><th>Coord</th>
			<td></td>
			#foreach($t in ${d.document.terms})<td class='$!{utils.hitClass($d, $t)}'>$!{utils.round($d.matchedTerms.get($t.text).coord, 4)}</td>#end
			#if($utils.notEmpty($d.addr.buildingNum))<td></td>#end
		</tr>
		<tr><th>Density</th>
			<td></td>
			#foreach($t in ${d.document.terms})<td class='$!{utils.hitClass($d, $t)}'>$!{utils.round($d.matchedTerms.get($t.text).density, 4)}</td>#end
			#if($utils.notEmpty($d.addr.buildingNum))<td></td>#end
		</tr>
		<tr><th>Boost</th>
			<td class=em2>0</td>
			#foreach($t in ${d.document.terms})<td class='$!{utils.hitClass($d, $t)}'>$!{utils.round($d.matchedTerms.get($t.text).boost, 4)}</td>#end
			#if($utils.notEmpty($d.addr.buildingNum))<td></td>#end
		</tr>
		<tr><th>TF-IDF</th>
			<td class=em2>0</td>
			#foreach($t in ${d.document.terms})<td class='$!{utils.hitClass($d, $t)}'>$!{utils.round($d.matchedTerms.get($t.text).tfidf, 4)}</td>#end
			#if($utils.notEmpty($d.addr.buildingNum))<td></td>#end
		</tr>
	</table>
#end
</div>
<!--/div-->
</body>
</html>