<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rrs.rd.address.persist.dao.AddressDao">
	<resultMap id="AddressEntityResult" type="com.rrs.rd.address.persist.AddressEntity">
		<result property="id" column="id" />
		<result property="province" column="province" typeHandler="com.rrs.rd.address.persist.dao.RegionPropertyTypeHandler" />
		<result property="city" column="city" typeHandler="com.rrs.rd.address.persist.dao.RegionPropertyTypeHandler" />
		<result property="district" column="district" typeHandler="com.rrs.rd.address.persist.dao.RegionPropertyTypeHandler" />
		<result property="street" column="street" typeHandler="com.rrs.rd.address.persist.dao.RegionPropertyTypeHandler" />
		<result property="town" column="town" typeHandler="com.rrs.rd.address.persist.dao.RegionPropertyTypeHandler" />
		<result property="village" column="village" typeHandler="com.rrs.rd.address.persist.dao.RegionPropertyTypeHandler" />
		<result property="text" column="text" />
		<result property="road" column="road" />
		<result property="roadNum" column="road_num" />
		<result property="buildingNum" column="building_num" />
		<result property="hash" column="hash" />
		<result property="rawText" column="raw_text" />
		<result property="prop1" column="prop1" />
		<result property="prop2" column="prop2" />
		<result property="createTime" column="create_time" />
	</resultMap>
	<insert id="create" parameterType="com.rrs.rd.address.persist.AddressEntity">
		<selectKey keyProperty="id" resultType="Integer">select last_insert_id()</selectKey>
insert into addr_address(province,city,district,street,town,village,`text`,road,road_num,building_num,`hash`,raw_text,prop1,prop2,create_time)
values(#{province, typeHandler=com.rrs.rd.address.persist.dao.RegionPropertyTypeHandler}
    ,#{city, typeHandler=com.rrs.rd.address.persist.dao.RegionPropertyTypeHandler}
    ,#{district, typeHandler=com.rrs.rd.address.persist.dao.RegionPropertyTypeHandler}
    ,#{street, typeHandler=com.rrs.rd.address.persist.dao.RegionPropertyTypeHandler}
    ,#{town, typeHandler=com.rrs.rd.address.persist.dao.RegionPropertyTypeHandler}
    ,#{village, typeHandler=com.rrs.rd.address.persist.dao.RegionPropertyTypeHandler}
    ,#{text},#{road},#{roadNum},#{buildingNum},#{hash}, #{rawText},#{prop1},#{prop2},#{createTime})
	</insert>
	<insert id="batchCreate">
insert into addr_address(province,city,district,street,town,village,`text`,road,road_num,building_num,`hash`,raw_text,prop1,prop2,create_time) values
		<foreach collection="addresses" item="addr" separator=",">
(#{addr.province, typeHandler=com.rrs.rd.address.persist.dao.RegionPropertyTypeHandler}
,#{addr.city, typeHandler=com.rrs.rd.address.persist.dao.RegionPropertyTypeHandler}
,#{addr.district, typeHandler=com.rrs.rd.address.persist.dao.RegionPropertyTypeHandler}
,#{addr.street, typeHandler=com.rrs.rd.address.persist.dao.RegionPropertyTypeHandler}
,#{addr.town, typeHandler=com.rrs.rd.address.persist.dao.RegionPropertyTypeHandler}
,#{addr.village, typeHandler=com.rrs.rd.address.persist.dao.RegionPropertyTypeHandler}
  ,#{addr.text},#{addr.road},#{addr.roadNum},#{addr.buildingNum},#{addr.hash}, #{addr.rawText},#{addr.prop1},#{addr.prop2},#{addr.createTime})
		</foreach>
	</insert>
	<select id="findAll" resultMap="AddressEntityResult">
select `id`,`province`,`city`,`district`,street,town,village,`text`,`road`,`road_num`,`building_num`,`hash`
from `addr_address`
	</select>
	<select id="find" resultMap="AddressEntityResult">
select `id`,`province`,`city`,`district`,street,town,village,`text`,`road`,`road_num`,`building_num`,`hash`
from `addr_address` where province=#{provinceId} and city=#{cityId} <if test="countyId&gt;0">and district=#{countyId}</if>
	</select>
	
	<select id="get" parameterType="Integer" resultMap="AddressEntityResult">
select `id`,`province`,`city`,`district`,street,town,village,`text`,`road`,`road_num`,`building_num`,`hash`, raw_text,prop1,prop2,create_time
from `addr_address`
where id=#{id}
	</select>
	<delete id="delete" parameterType="Integer">
delete from addr_address where id=#{id}
	</delete>
</mapper>