<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
	<appender name="console" class="org.apache.log4j.ConsoleAppender">  
		<layout class="org.apache.log4j.PatternLayout">  
			<param name="ConversionPattern" value="%m%n" />
		</layout>  
	</appender>  
    <appender name="file" class="org.apache.log4j.RollingFileAppender">  
        <param name="File" value="similarity.log" />
        <param name="Append" value="true" />
        <param name="MaxBackupIndex" value="10" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%m%n" />
        </layout>
    </appender>
    <appender name="sql" class="org.apache.log4j.RollingFileAppender">
        <param name="File" value="address-sql.log" />
        <param name="Append" value="true" />
        <param name="MaxBackupIndex" value="10" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%m%n" />
        </layout>
    </appender>
 
 	<logger name="com.rrs.research.similarity.address" additivity="false">
        <level value="INFO"/>
        <appender-ref ref="file"/>
        <appender-ref ref="console"/>
    </logger> 
    <logger name="com.rrs.research.similarity.dao" additivity="false">
        <level value="ERROR"/>  
        <appender-ref ref="sql"/>
    </logger> 
    
	<root>
		<level value="WARN" />
		<appender-ref ref="file" />
	</root>
</log4j:configuration>